// GENERAL SETTINGS

body{
  background-color: @binder-black;
  color: @binder-white;
}
.content-wrapper{
  width: 100%;

  .text-wrapper{
    width: 80%;
    margin: 0 auto;
  }
}
.menu--active{
  overflow: hidden;
}
